
.chidan {
    background-color: rgb(116, 128, 143);
    border: solid red 1px;
    padding: px;
    width: 650px;
    justify-content: space-between;
}

.nav-icons {
    border: solid red 1px;
    margin: 20px;
    display: flex;
    margin-top: 1px;
    padding: top 4rem;
    justify-content: right;
    align-items: stretch;
}

.links {
    color: white;
    margin-top: 4px;
    padding: 20px;
    justify-self: start;
    padding-top: 50px;
    
    
}

.edit {
    color: white;
    margin: 50px;
}


.btn {
    background-color: blue;
    color: white;
}

.image {
    border: solid red 1px;
    background-color: white;
    padding: 10px;
    width: 630px;
    height: 200px;
}

.ff {
   margin: auto;
   display: block;
   width: 60%;
   display: flex;
}  

.info {
    text-align: center;
}

.lorem {
    border: solid red 1px;
}

