
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --darkBg: #1f2937;
}

.navbar {
    background-color: var(--darkBg );
    /* border: solid #ff0000 1px; */
    padding: 0 5rem 0 5rem; 
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
}

.link {    
    margin-left: 2rem;
    color: white;
    text-decoration: none;
}


.headline {
    display: flex;
    column-gap: 2rem;
    height: 400px;
    padding: 3rem 5rem 0 5rem;
    background-color: var(--darkBg);
}

.header-text {   
    flex: 1;    
    color: white;
}

.header-text > h1 {
    margin-bottom: 1rem;
}

.header-text > p {
    margin-bottom: 1rem;
}

.image {    
    flex: 1;    
    width: 200px;
}

.image > img {
    width: 100%;
}

.btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
}

.logo {
     padding-top: px;

}

.contains {
    list-style-type: none;
    width: 1008z;
    display: flex;
    padding: 0 8rem 0 8rem;
    column-gap: 2rem;
    height: 400px;
     padding-top: 4rem;
    /* padding-bottom: 4rem; */
    border-radius: 8px;
    justify-content: space-around;
    
}

.players {
    color: 36px extra-bold #16191d;
 justify-content: center;
 margin-left: 35rem;
 padding-top: 4rem;
}

.quote-1 {
    color: #1f2937;
    background-color: #E5E7EB;
    height: 450px;
    /* padding: 100px; */
    /* margin-left: 20rem; */
}

.quote-2{
    font-size: 36px;
    display: flex;
  justify-content: center;
margin-bottom: 2rem;
padding: 0 20rem 0 20rem;
padding-top: 80px;
}

.quote-3 {
    /* border: solid red 1px; */
    margin-left: 58rem;
    padding-bottom: 2rem;
   
}




     



